body{
	margin:0px;
}

/*header start*/
header{
	width:100%;
	height:150px;
	background:#CCCCCC;
	margin:0px auto;
	padding:
}
.header-inner{
	width:70%;
	height:100%;
	margin: 0px auto;
	background:#F5F5F5;
	
}
.header-inner h1{
	font-size:38px;
	font-family:"century gothic",arial,sans-serif;
	font-style:normal;
	font-weight:400;
	line-height:1.5;
	color:#323232;
	padding:40px 0px 0px 10px;
	margin:0px;
	word-spacing:2px;
}
.header-inner h1 a{
	font-size:38px;
	font-family:"century gothic",arial,sans-sarif;
	font-style:normal;
	font-weight:400;
	line-height:2px;
	color:#dddddd;
	text-decoration:none;
}
.header-inner p{
	font-size:15px;
	font-family:"century gothic",arial,sans-sarif;
	font-style:normal;
	font-weight:400;
	color:#999999;
	padding:10px 0px 0px 10px;
}
/*header end*/
/*nav start*/
nav{
	width:100%;
	height:50px;
	background:#CCCCCC;
	display:inline-block;
	text-align:right;
}
.nav-inner{
	width:70%;
	height:100%;
	display:inline-block;
	background:#DDDDDD;
	margin;0px auto;
}
.nav-inner ul{
	display:inline-block;
	margin:5px 0px 10px 0px;
	
}
.nav-inner ul li{
	text-align:right;
	list-style-type:none;
	display:inline-block;
	margin:0px;
}
.nav-inner ul li a{
	padding:10px;
	list-style:none;
	text-decoration:none;
	display:inline-block;
	background:#25ADD7;
	color:#FFFFFF;
}
/*nav end*/
/*banner start*/
.main-banner{
	width:100%;
	height:200px;
	margin:0px 0px 60px 0px;
}
.inner-banner{
	width:70%;
	height:100%;
	
	margin:0px auto;
}
.inner-banner img{
	/* background-image:; */
	width:100%;
	height:100%;
	margin:30px 0px 0px 0px;
	outline:10px solid #DDDDDD;
	box-sizing:border-box;
	display:inline-block;
}
/*banner end*/
/*main section start*/

aside{
	height:100%;
	width:30%;
	float:left;
	clear:right;
	box-sizing:border-box;
	padding: 20px 10px;
	margin:20px auto; 
}
.latest-news{
	height:auto;
	width:100%;
	padding:20px 10px;
	box-sizing:border-box;
	border-radius:10px;
	border:1px solid #cccccc;
	overflow:hidden;

}
.latest-news h2{
	font-weight:400;
	font-family:"century gothic",arial;
	font-size:18px;
	color:#000;
	margin:0px 0px 20px 0px;
	font-style:normal;
}
.latest-news p{
	font-family:"trebuchet ms", arial, sans-serif;
	font-weight:400;
	font-style:normal;
	font-size:13px;
	font-weight:400;
	line-height:22px;
	color:#555555;
	margin:0px;
}
.latest-news a{
	font-family:"trebuchet ms", arial, sans-serif;
	font-weight:400;
	font-style:normal;
	font-size:13px;
	font-weight:400;
	line-height:22px;
	color:#00c6f0;
}
.latest-news small{
	font-family:font-family:arial;
	font-weight:400;
	font-style:normal;
	font-size:13px;
	font-weight:400;
	color:#009fbc;
}
.latest-news h3{
	font-weight:400;
	font-family:"century gothic",arial;
	font-size:14px;
	color:#009fbc;
	margin:0px 0px 0px 0px;
	font-style:normal;
}
.useful-links{
	height:auto;
	width:100%;
	border:1px solid #cccccc;
	box-sizing:border-box;
	border-radius:10px;
	padding:20px 10px; 
	margin:20px 10px;
}
.useful-links ul{
	margin:0px;
	padding:0px;
}
.useful-links ul li{
	list-style: url(../images/bullet.png)inside circle;
	color:#000000;
	font-size:18px;
	font-weight:400;
	font-family:"trebuchet ms", arial, sans-serif;
	line-height:1.5;
}
.useful-links h2{
	color:#000000;
	font-size:22px;
	font-weight:400;
	font-family:"century gothic",arial;
	margin:0px;
}
.useful-links ul li a{
	font-family:"trebuchet ms", arial, sans-serif;
	font-size:13px;
	line-height:1.5;
	color:#00c6f0;
	font-weight:400;
}
.search-box{
	height:auto;
	width:100%;
	padding:;
	border:1px solid #cccccc;
	box-sizing:border-box;
	padding:20px 10px; 
	margin:20px 10px;
	border-radius:10px;
}
.search-box ul li{
	list-style:none;
	padding:20px 0px 0px 0px;
	box-sizing:border-box;
	display:inline-block;
}
.search-box ul li:first child{
	width:50%;
}
.search-box ul{
	margin:0px;
	padding:0px;
	display:inline-block;
}
.search-box ul li input{
	width:100%;
	
}
.search-box h2{
	color:#000000;
	font-size:18px;
	font-weight:400;
	font-family:"century gothic",arial;
	margin:0px;
}
*main{
	height:600px;
	width:100%;
	background:#FFFFFF;
	
}
.inner-main{
	height:100%;
	width:70%;
	background:#fff;
	margin:0px auto;
}
article{
	height:100%;
	width:70%;
	box-sizing:border-box;
	padding: 20px 10px; 
	float:left;
	font-family:"century gothic",arial;
	margin:0px;
}
article p{
	color:#555555;
	font-size:14px;
	font-weight:400;
	font-family:"trebuchet ms", arial, sans-serif;
	margin:0px;
	line-height:1.5;
}
article h1{
	color:#000000;
	font-size:24px;
	font-weight:400;
	font-family:"century gothic",arial;
	clear:right;
	margin:0px auto;
}
article h2{
	color:#009fbc;
	font-size:22px;
	font-weight:400;
	margin:10px;
}
article ul{
	margin:0px;
	padding:0px;
}
article ul li{
	color:#555555;
	font-size:14px;
	font-weight:400;
	font-family:"trebuchet ms", arial, sans-serif;
	line-height:1.5;
	list-style:url(../images/bullet.png) inside circle;
}
/*main section end*/
/*footer start*/
footer{
	width:100%; 
	height:100px;
	background:#ffffff;
	

}
.inner-footer{
	width:100%; 
	height:100%;
}
/*footer end*/
